################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs

JokerBooksManager/obj
JokerBooksManager/bin

JokerBooksManagerDAL/obj
JokerBooksManagerDAL/bin

JokerBooksManagerBLL/obj
JokerBooksManagerBLL/bin

JokerBooksManagerComm/obj
JokerBooksManagerComm/bin