################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
*.suo
LPH-STUDY-ASPNETCORE/JokerBooksManager/obj
LPH-STUDY-ASPNETCORE/JokerBooksManager/bin

/LPH-STUDY-ASPNETCORE/JokerBooksManagerDAL/obj
/LPH-STUDY-ASPNETCORE/JokerBooksManagerDAL/bin

/LPH-STUDY-ASPNETCORE/JokerBooksManagerBLL/obj
/LPH-STUDY-ASPNETCORE/JokerBooksManagerBLL/bin

/LPH-STUDY-ASPNETCORE/JokerBooksManagerComm/obj
/LPH-STUDY-ASPNETCORE/JokerBooksManagerComm/bin
