@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a href="/Home/ReadData">获取redis数据</a>
    @if(ViewBag.TimeNow !=null)
    {
        <span>@ViewBag.TimeNow</span>
    }
</p>

<p>
    <a class="btn btn-primary" href="/Home/DelData" >删除redis数据</a>
</p>
