
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h1>姓名：@ViewData["name"]</h1>
    </div>
    <div>
        <h1>姓名：@ViewBag.Name</h1>
    </div>
    <div>
        登录页面，当前时间：@DateTime.Now
    </div>

</body>
</html>
