@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>
        账户：<input id="user" type="text" name="user"/>
    </p>
    <p>
        信息：<input id="msg" type="text" name="msg" placeholder="写下你的留言..."/>
        <button id="btnSend">发送</button>
    </p>
</div>

<hr/>

<div>
    <ul id="msgs">

    </ul>
</div>


@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js">
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/chat.js"></script>
}