@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<BlazorApp3.Components.Dummy Color="btn-danger"/>

<SurveyPrompt Title="How is Blazor working for you?" />
<BlazorApp3.Components.Test Title="我是主题"/>


